* {
    margin: 0;
    padding: 0;
    font-family: consolas;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.wavy {
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient;
}

.wavy span {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
}